[Unit]
Description=HCMUE Discord Push Bot

[Service]
Type=oneshot
WorkingDirectory=/home/longme/hcmueFetch
Environment="DISCORD_BOT_TOKEN=YOUR_BOT_TOKEN"
Environment="DISCORD_CHANNEL_ID=YOUR_CHANNEL_ID"
# Change the path to your Python executable
ExecStart=/home/longme/hcmueFetch/venv/bin/python /home/longme/hcmueFetch/discord_bot/discord_push.py
