[Unit]
Description=Run HCMUE Discord Push every 12 hours

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
Unit=hcmue-discord.service

[Install]
WantedBy=timers.target
