[Unit]
Description=HCMUE Discord Push Bot

[Service]
Type=oneshot
# Thay đổi đường dẫn này cho đúng với máy bạn
WorkingDirectory=/home/longme/hcmueFetch
# Đặt Webhook URL của bạn vào đây, hoặc bỏ dòng này nếu đã hardcode trong script
Environment="DISCORD_WEBHOOK_URL=YOUR_WEBHOOK_URL"
# Change the path to your Python executable
ExecStart=/home/longme/hcmueFetch/venv/bin/python /home/longme/hcmueFetch/discord_bot/discord_push.py
